@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Geneva, Tahoma, sans-serif;
  line-height: 180%;
}


.mdx-post-content a {
  color: rgb(19, 162, 228);
  text-decoration: underline;
}

.maplibregl-popup .maplibregl-popup-content { 
  background-color: rgb(239, 255, 255);
  border-radius: .2rem;
}
.pinned {
   fill: #ff2233;
}
